.sidebar {
  width: 240px;
  height: 100vh;
  border-right: 2px solid rgba(255, 255, 255, 0.5);

  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-container {
  padding-top: 35px;
}

.interactive-zone {
  width: 5px;
  height: 100vh;
  position: absolute;
  left: 0;
}
